
.actions {
  padding: 10px;
  background-color: #d7d7e0;
}

.actions button,
.actions input {
  min-height: 30px;
  padding: 5px 10px;
  margin: 5px;
  background-color: goldenrod;
  text-align: center;
  border-radius: 15px;
  color: darkblue;
}

.actions input {
  width: 25%;
}

@media (max-width: 512px) {

  .actions button,
  .actions input {
    width: 100%;
  }
  .actions {
    flex-direction: column;
  }

  .Gallery .actions .create{
    width: 55%;
  }
}